body{
    font-family: 'Source Sans 3', sans-serif;
    background-image: url(./images/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100% 700px;
    margin: 0;
    background-color: whitesmoke;
}
/* header section starts here */
#HeaderSection{
    color: white;
    width: 100%;
}
#HeaderSection div h1 span {
    
    font-weight: 100;
    
}
#HeaderSection div h1 {
    margin: 17px 0px 0px 25px;
    font-size: 19px; 

}
#OptionDiv ul li{
    display: inline-block;
    margin-right: 30px;
}
#HeaderSection div{
    display: inline-block;
    font-size:  19px;
    margin-right: 22px;
}
#OptionDiv{
    float: right;
}
.fa-angle-down{
    margin-right: 8.66px;
    font-weight: 900;
}
#Signup{
    border: 2px solid white;
    padding: 5px 15px;
    
    border-radius: 10px;


}
/* header section ends here */
/* Body section Starts here */
#BodySection{
color: white;
text-align: center;

}
#BodySection h2{
    font-size: 60px;
    font-weight: 360;
    margin: 143px 0px 0px 0px;
    
}
#BodySection p {
    font-size: 24px;
    margin: 19px 0px 40px 0px;

}
#BodySection button:nth-child(1) {
    font-size: 17px;
    background-color: white;
    border: 0px;
    border-radius: 5px;
    color: #77726e;
    padding: 19px 80px;
}
#BodySection button:nth-child(2) {
    font-size: 17px;
    background-color: transparent;
    border: 2.5px solid white;
    border-radius: 5px;
    color: #77726e;
    padding: 16px 77px;
    color: white;
    margin-left: 20px;
}
/* Body section ends here */
/* Desripsection starts here */
#DescripSection{
    background-color: white;
    width: 75%;
    border-radius: 6px;
    margin: 0 auto;
    color: #77726e;
    margin-top: 140px;
    text-align: center;
}
#DescripSection h1{
    margin: 0px 0px 10px 0px;
    font-size: 40px;
    font-weight: 400;
    padding-top: 88px;
    

}
#DescripSection p{
    font-size: 22px;
    padding: 35px 0px;
    border-top: 1px solid gray;
    display: inline-block;
}
#DescripSection img{
    width: 100%;
    border-radius: 0px 0px 6px 6px;
    padding-bottom: 0px;
}
/* DiscripSection ends here */
/* IconSection Starts here */
#IconSection{
    width: 79%;
    background-color: white;
    margin: 0 auto;
    margin-top: 44px;
    border-radius: 10px;
    box-shadow: #77726e;
}
#IconSection div h1{
    font-size: 30px;
    color: #77726e;

}
#IconSection div {
    text-align: center;
    width: 49%;
    display: inline-block;
    margin-top: 55px;
    padding-bottom: 25px;
    
}
#IconSection div p{
    font-size: 20px;
    color: #77726e;
    font-weight: 100;
    
}
#IconDiv1 i{
    background: #e89980;
    color: white;
    font-size: 61px;
    border-radius: 100%;
    padding: 25px 41px 25px 41px;
    
   
}
#IconDiv2 i{
    background: #7fcdb8;
    color: white;
    font-size: 55px;
    border-radius: 100%;
    padding: 29px 31px 29px 31px
}
 #IconDiv3 i{
    background: #90b0ba;
    color: white;
    font-size: 51px;
    border-radius: 100%;
    padding: 30px 33px 28px 33px;

}
 #IconDiv4 i{
    background: #e5cb95;
    color: white;
    font-size: 61px;
    border-radius: 100%;
    padding: 25px 41px 25px 41px;

}
 #IconDiv1{
    
    border-right: lightgray 1px solid;
    padding-left: 10px;
}
 #IconDiv2{
    border-bottom: lightgray 1px solid;
    padding-right: -10px;
}
#IconDiv1{
    border-bottom: lightgray 1px solid;
    padding-left: 10px;
}
 #IconDiv4{
    border-left: lightgray 1px solid;
    
}
/* Icon section ends here */
/* Image section starts here */
#ImageSection{
    width: 85%;
    margin: 0 auto;
    text-align: center;
}
#ImageSection div{
    width: 45%;
    background-color: white;
    border-radius: 8px;
    display: inline-block;
    /* margin-right: 30px; */
    margin-top: 40px;
    box-shadow: #77726e;
}
#ImageSection div img{
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
#ImgDiv2{
    margin-left: 30px;
}
#ImgDiv1{
    margin-right: 30px;
}
#ImageSection div button{
    font-size: 15px;
    background-color: transparent;
    border: 2px solid lightgray;
    border-radius: 5px;
    color: #77726e;
    padding: 17px 40px;
    color: #77726e;
    margin-left: 20px;
    margin-bottom: 45px;
}
#ImageSection div p{
    padding-top: 13px;
    padding-bottom: 18px;
    font-size: 19.2px;
    font-weight: 400;
    color: #77726e;
    letter-spacing: 0.015em;
    line-height: 1.65em;
}
#ImageSection div h1{
    padding-top: 35px;
    color: #77726e;
    font-weight: 500;
    font-size: 32px;
}
/* Image section ends here */
/* Footer Section Strats here */
#FooterSection{
    text-align: center;
   
    margin-top: 122px;
    
}
#FooterSection #FootDiv1{
    background-color: #e89980;
    color: white;
}
#FootDiv1 h1{
    padding-top: 61px;
    font-size: 38px;
    font-weight: 200;
    letter-spacing: normal;
}
#FootDiv1 p{
    font-size: 19.5px;
    font-weight: 100;
    padding-bottom: 20px;
}
#FootDiv1 input{
    font-size: 15px;
    background-color: #eba893;
    border: 2px solid transparent;
    border-radius: 5px;
    color: #77726e;
    padding: 18px 53px;
    color: #77726e;
    /* margin-left: 18px; */
    margin-bottom: 45px;
}
#FootDiv1 button{
    font-size: 17px;
    background-color: white;
    border: 2px solid transparent;
    border-radius: 5px;
    color: #e89980;
    padding: 17px 42px;
    letter-spacing: 0.003em;
    margin-left: 20px;
    margin-bottom: 45px;
}
#FootDiv1 input:hover{
    border: 2px solid white;
}
#FootDiv1 input::placeholder{
color: whitesmoke;
font-size: 18px;
font-weight: 100;
padding-left: -10px;
letter-spacing: 0.005em;
}
#FootDiv2 i {
    color: #C6C6C6;
    font-size: 36px;
    padding: 12px;
    margin-top: 62px;
    margin-bottom: 10px;
}
#FootDiv3{
    color: #C6C6C6;
    font-size: 17.5px;
}
#FootDiv3 ul li{
    display: inline-block;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 70px;
}
#FootDiv3 a{
    color: #C6C6C6;
}
#li1{
border-right: 1px solid #C6C6C6;
font-weight: 100;
}
#li2{
    border-right: 1px solid #C6C6C6;
    font-weight: 100;
    }
/* Footer Section ends here */